.screen {
    width: 100%;
    height: 100vh;

    display: flex;
    flex-direction: column;

    gap: 20px;

    box-sizing: border-box; /* include padding/borders within 100vh to avoid page scroll */
    padding: 20px; /* internal spacing without causing vertical scrollbar */
}

.home_header {
    margin-top: 20px;

    display: flex;
    justify-content: space-between;
    align-items: center;
}


.cta_new_modpack {
    background-color: var(--accent);
    color: var(--text);

    border: none;
    border-radius: 10px;

    padding: 5px 12px;

    margin: 15px;

    height: 85%;

    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 25px;

    cursor: pointer;
    
    transition: var(--transition);
}

.cta_new_modpack:hover {
    background-color: var(--accent-hover);
}

.cta_new_modpack_plus {
    background: var(--background-2);
    
    display: flex;
    align-items: center;
    justify-content: center;

    padding: 5px;

    border-radius: 4px;
}

.cta_new_modpack_plus * {
    color: var(--accent);
}

.cta_new_modpack_plus_container {
    transition: var(--transition);
}

.cta_new_modpack_text {
    display: flex;
    flex-direction: column;
    align-items: start;
    gap: 2px;
}

.cta_new_modpack_text h3 {
    margin: 0;
    padding: 0;
}

.cta_new_modpack_text p {
    margin: 0;
    padding: 0;
}

.cta_new_modpack_chevron {
    transition: var(--transition);
}

.cta_new_modpack:hover .cta_new_modpack_chevron {
    transform: translateX(3px);
}

.cta_new_modpack:hover .cta_new_modpack_plus_container {
    transform: rotate(180deg);
}

.cta_new_modpack:active {
    transform: scale(0.97);
}

/*  */

.modpacks_list {
    padding: 0;
    margin: 0;
    margin-top: 30px;
}

.modpacks_list_header {
    padding: 0;
    margin: 0;

    display: flex;
    align-items: center;
    justify-content: space-between;
}

.modpacks_list_header a {
    color: #94c461;
    font-size: 0.9rem;
    font-weight: 600;
}

.modpacks_list_header a:hover {
    color: #b4d490;
}

.modpacks_list_header span {
    font-size: 1.2rem;
    font-weight: bolder;
}

.modpacks_list_view {
    display: flex;
    flex-direction: column;
    gap: 12px;

    padding: 10px 0px;
}

.modpack {
    background-color: var(--background-2);

    border: 1px solid var(--border);
    border-radius: 10px;

    display: flex;
    align-items: center;
    gap: 20px;

    padding: 10px 15px;

    cursor: pointer;

    transition: var(--transition);
}

.modpack:hover {
    border: 1px solid var(--accent);
}

.modpack_logo_container {
    background-color: var(--background-1);

    border: 1px solid var(--border);
    border-radius: 10px;

    width: 75px;
    height: 75px;
}

.modpack_actions {
    margin-left: auto;    
}

.modpack_infos_container {
    display: flex;
    flex-direction: column;

    height: 75px;
}

.modpack_title {
    color: var(--text);

    font-weight: bolder;
    font-size: 18px;
}

.modpack_infos {
    display: flex;
    align-items: center;
    
    color: var(--text-muted);

    font-weight: lighter;
    font-size: 0.8rem;
}

.modpack_state {
    margin-top: auto;

    color: var(--accent);

    font-weight: lighter;
    font-size: 0.8rem;
}

.modpack_actions button {
    border: none;
    border-radius: 5px;
    width: 40px;
    height: 40px;
    padding: 0;
    box-sizing: border-box;
    background: linear-gradient(#171b1e, #73a04f28);
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    transition: var(--transition);
}

.modpack_actions button * {
    color: var(--accent);
}

.modpack_actions button:hover {
    border: 1px solid var(--accent);
}

/*  */

.servers_list {
    padding: 0;
    margin: 0;
}

.servers_list_header {
    padding: 0;
    margin: 0;

    display: flex;
    align-items: center;
    justify-content: space-between;
}

.servers_list_header a {
    color: #94c461;
    font-size: 0.9rem;
    font-weight: 600;
}

.servers_list_header a:hover {
    color: #b4d490;
}

.servers_list_header span {
    font-size: 1.2rem;
    font-weight: bolder;
}

.servers_list_view {
    display: flex;
    flex-direction: column;

    padding: 10px 0px;
}








.server {
    background-color: var(--background-2);

    border: 1px solid var(--border);
    border-radius: 10px;

    display: flex;
    align-items: center;
    gap: 20px;

    padding: 10px 15px;

    cursor: pointer;

    transition: var(--transition);
}

.server:hover {
    border: 1px solid var(--accent);
}

.server_logo_container {
    background-color: var(--background-1);

    border: 1px solid var(--border);
    border-radius: 10px;

    width: 75px;
    height: 75px;
}

.server_infos_container {
    display: flex;
    flex-direction: column;

    height: 75px;
}

.server_title {
    color: var(--text);

    font-weight: bolder;
    font-size: 18px;
}

.server_infos {
    display: flex;
    align-items: center;
    
    color: var(--text-muted);

    font-weight: lighter;
    font-size: 0.8rem;
}

.server_players {
    display: flex;
    align-items: center;

    font-size: 12px;
}

.server_players_icon {
    color: var(--accent);

}

.server_player_text {
    color: var(--text);
}

.server_arrow {
    margin-left: auto;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    color: var(--text);

    transition: var(--transition);
}

.server:hover .server_arrow {
    transform: translateX(2px);
}
